body {
  margin: 0;
  height: 100vh;
  place-items: center;
  background-color: #FFF;
  text-align: center;
  font-family: 'Raleway';
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

input[type="checkbox"] {
  opacity: 0;
}

#colour {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.conatiner {
  float: left;
  position: relative;
  left: 50%;
  top: 25%;
}

.center {
  float: left;
  position: relative;
  left: -50%;
}

.button {
  margin: 4px;
  background-color: #FFF;
  overflow: auto;
  float: left;
  border-radius: 100%;
  line-height: 3.5em;
}

.button label {
  float: left;
  width: 4.0em;
}

.button label span {
  text-align: center;
  padding: 3px 0;
  display: block;
}

.button label input {
  position: absolute;
  top: -20px;
}

.button .red:hover {
  background-color: #ffcdd2;
  cursor: pointer;
}

.button .purple:hover {
  background-color: #e1bee7;
  cursor: pointer;
}

.button .indigo:hover {
  background-color: #c5cae9;
  cursor: pointer;
}

.button .blue:hover {
  background-color: #bbdefb;
  cursor: pointer;
}

.button .cyan:hover {
  background-color: #b2ebf2;
  cursor: pointer;
}

.button .teal:hover {
  background-color: #b2dfdb;
  cursor: pointer;
}

.button .green:hover {
  background-color: #c8e6c9;
  cursor: pointer;
}

.button .yellow:hover {
  background-color: #fff9c4;
  cursor: pointer;
}

.button .orange:hover {
  background-color: #ffe0b2;
  cursor: pointer;
}

.button .brown:hover {
  background-color: #d7ccc8;
  cursor: pointer;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

/*.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
